*{
    margin: 0;
    padding: 0;
}
.top1{
    width: 1320px;
    
    background-color: rgb(248, 180, 63) 

}
.top1 ul{
    display:flex;
    justify-content: center;
    list-style: none;
}
.top1 ul a{
    padding: 50px;
    color: #000;
    text-decoration: none;
}
.top1 ul a:hover{
color: rgba(255, 72, 0, 0.63);
}
.top2{
     width: 1320px; 
     height: 240px;
    background-size: cover;
    background-image: url(img1.jpg);
    border: #000 2px solid;
}
.top3{
    display: flex;
    background-color:  rgb(248, 180, 63);
    width: 1320px;
    height: 400px;
    border: #000 2px solid;
    
}
.top4{
    width: 1290px;
    height: 200px;
   background-color: rgb(243, 126, 9);
   padding: 15px;
   border: #000 2px solid;
}
.top5{
    display: flex;
    width: 1320px;
    height: 400px;
    background-color:  rgb(248, 180, 63); 
    padding-top: 35px;
    border: #000 2px solid;
}
.top6{
    width: 1290px;
    height: 150px;
    background-color: rgb(234, 81, 16);
    padding: 15px;
    border: #000 2px solid;
}

.people-one{
    /* padding-left: 145px;
   padding-right: 350px;   */
   width: 426px;
   height: 400px;
    text-align: center; 
   padding: 0;
   margin: 0;
}
.people-tow{
width: 426px;
height: 400px;
padding: 0;
margin: 0;
text-align: center;
}
 .people-three{
    width: 426px;
    height: 400px; 
    padding: 0;
    margin: 0;
    text-align: center;
}
.people-one img{
float: left;
padding: 0;
margin: 0;
}
.people-tow img{
    float: left;
    padding: 0;
    margin: 0;

}
.people-three img{
    float: left;
    padding: 0;
    margin: 0;
}
.top7{
    display: flex;
    background-color:  rgb(248, 180, 63);
    width: 1320px;
    height: 420px;
    border: #000 2px solid;
}
.people-four{
    /* padding-left: 145px;
   padding-right: 350px;   */
   width: 426px;
   height: 400px;
    text-align: center; 
   padding: 0;
   margin: 0;
}
.people-four img{
float: left;
padding: 0;
margin: 0;
}
.people-five{
    width: 426px;
    height: 400px; 
    padding: 0;
    margin: 0;
    text-align: center;
}
.people-five img{
float: left;
padding: 0;
margin: 0;
}
.top8{
    width: 1320px;
    height: 850px;
    background-color: rgba(142, 19, 214, 0.212);
border: 2px solid #000;
}
.m{

}
#k{
    background-color: rgb(17, 17, 238);
    color: aliceblue;
    border: none;
    border-radius: 4px;
    padding: 15px 60px;
    font-size: 20px;

}
#k:hover {
background-color: orange;
}
#l{
    width: 1230px;
    height: 300px;
    /* background-color: rgba(142, 19, 214, 0.212);  */
    border:2px solid #000;
    font-size: 25px;
}
.name{
    margin-bottom: 20px;
}
.f{
    width: 300px;
    height: 30px;
}
.phone{
    margin-bottom: 20px;
}
.s{
    width: 300px;
    height: 30px;
}
.email{
    margin-bottom: 20px;
}
.z{
    width: 300px;
    height: 30px;
}
.v{
    margin-top: 30px;
}